@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600;700;800&family=Rajdhani:wght@300;400;500;600;700&family=Rubik:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
}

:root{
    --main-color: rgb(114, 49, 174);
    --black: black;
    --light-bg:#eee;
    --border:.1rem solid var(--tomato);
}
html{
    font-size: 65%;
    scroll-behavior: smooth;
}
section{
    padding: 2rem 10rem;
    scroll-margin-top:  100;

}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 1px 1px 0 rgb(0,0,0,0.1) ;
}
#typing-text {
  border-right: 2px solid #333;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: blink 0.7s step-end infinite;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.section-reveal {
  opacity: 0;
  transform: translateX(-50px);
  transition: all 0.8s ease-out;
}

.section-reveal.revealed {
  opacity: 1; 
  transform: translateY(0);
}





.header .name h1{
    font-size: 3rem;
    color: var(--main-color)
}
.header .nav a{
    font-size: 1.8rem;
    padding-right: 1rem;
    color: var(--black);
}
.header #btn{
    display: none;
    font-size: 2rem;
    cursor: pointer;
    transition: 0.5s ;
}
.header .fa-times{
    transform: rotate(180deg);
}

.header .nav  .active{
    color: var(--main-color);
    font-weight: bold;
}
.header .nav a:hover{
    color: var(--main-color);
}

@media (max-width:700px){
    
   
    .header .nav{


        position: absolute;
        bottom: -26.5rem;
        left: 0;
        right: 0;
        z-index: 1;
        background-color: var(--light-bg);
        border: var(--border);
        padding: 2rem;
        
        display: none;
    }
    .header .nav a{
        display: block;
       
        margin: 2rem;
        text-align: center;
    }
    
    .header #btn{

        display: inline-block;
        position: absolute;
        right: 7rem;
        top: 40%;
    }

}


#home{
    background-image: url(../image/hero-bg.png);
    /* background-size: cover; */
    background-repeat: no-repeat;
    padding-block: 8rem;
    
    

    
}

#home .main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
#home .main p{
    font-size: 2rem;
    color: white;
    padding-block: 1rem;
}


#home .main h3{
    font-size: 4rem;
    color: var(--main-color);
    transition: 0.5s;
}


.main a{
    display: inline-block;
    background-color: var(--main-color);

    font-size: 2rem;
    color: white;
    padding: 1.5rem;
    margin: 1rem 0;
    transition: 0.4s;
    border-radius: 10px;

} 
#home .main #project1{
    opacity: 0.8;
}
#home .main #project1:hover{
    transform: scale(1.1);
    opacity: 1; 
}
.main .three{
    font-size: 2rem;
    /* word-spacing:  */
}




#hhome .main .image{
    height: 100px;
    border-radius: 50%;
}
.image img{
    height: 400px;
    border-radius: 50%;

}


.main .three a{

    background-color: transparent;
}
a:hover{
    transform: scale(1.1);
    opacity: 1;
}

@media (max-width:444px){

    .image img{
        width: 100%;
        height: 400px;
        border-radius: 50%;
    }
}
@media (max-width:900px){

    html{
        font-size: 55%;
    }
    section{
        padding: 2rem 5rem;
    }
    #home .main{
        display: flex;
        flex-direction: column-reverse;

        text-align: center;
        gap: 2rem;
        justify-content: center;
    }
   
    
}

/* about */


.about{
    display: flex;
 
    gap: 5rem;
    padding-block: 5rem;
    justify-content: center;
    
}

.image_about{
    height: 300px;
    
}
.image_about img{
    height: 100%;
    border-radius: 20px;
}

.about .content_about{
    flex: 1;
}

.about .content_about h1{

    font-size: 3.5rem;
    padding-bottom: 0.6rem;

}

.about .content_about h1 span{
    color: var(--main-color);
}
.about .content_about h2{

    font-size: 2.7rem;
    
}
.about .content_about p{
    font-size: 1.5rem;
    padding-block: 3rem;
    line-height: 2;
}


@media (max-width:700px){
    .about{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
   
    .image_about img{
        width: 80%;
       height: 100%;
       border-radius: 20px;
    }

}
@media (max-width:500px){
    .image_about img{
        width: 100%;
       height: 100%;
       border-radius: 20px;
    }
}

/* skills */


.skill h2{
    text-align: center;
    font-size: 4rem;
}
.container {
    position: relative;
    padding-block: 30px   ;
    border-radius: 7px;
    background-color: #fff ;
    width: 80vh;
    
}
.skill{
    width: 100%;
    display: block;
}
.container .skill .bar{

    margin: 15px 0;
    background-color:  rgba(0,0,0,0.1);
    border-radius: 8px;
    height: 8px;
}
.per{
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    background-color: var(--main-color);
    animation: progress 0.4s ease-in-out forwards;
    opacity: 0;
}
.title{
    font-size: 2rem;
}
.Css{
    width: 90%;
}
.Js{
    width: 80%;
}
.boot{
    width: 80%;
}
.React{
    width: 60%;
}
@keyframes progress{
    0%{
        width: 0;
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.per .tool{
 position: absolute;
 right: -25px;
 top: -28px;   
 color: #fff;
 background-color: var(--main-color);
 width: 36px;
 padding: 2px;
 border-radius: 5px;
 /* z-index: 1; */

}
.tool::before{
    content: "";
    width: 10px;
    position: absolute;
    left: 50%;
    bottom: -2px;
    height: 10px;
    background-color: var(--main-color);
    transform: translateX(-50%) rotate(45deg);
    z-index : -1 ;
}

.flex-skill{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.image-skill{
    width: 400px;
    margin-top: 60px;
    
}
.image-skill img{
    width: 100%;
}

@media (max-width:1230px){
    .skill .flex-skill{
        justify-content: center;
        display: flex;

    }
}



/* service */
.service{
    background: #f0f4f9;
    padding-block: 5rem;
    width: 100%;

}
.service h1{
    font-size: 3.5rem;
    font-weight: 800;
    color: black;
    padding: 10px;
    margin-bottom: 1.5rem;
    text-align: center;
}
.service  h1 span{
    color: var(--main-color);
}
.service .four{
    
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));

    gap: 6rem;


}
.service .four div{
    box-shadow: 0 5px 25px rgb(1 1 1 /20%);
    margin-block: 2rem;
    /* width: 370px;  */
    background-color: white;
    padding: 20px;
    height: 350px;
    transition: 0.4s ease;
    text-align: center;
}

@media (max-width:755px){
    .service .four div{
      height: fit-content;
    }   
}
.service .four h3{
    color: var(--main-color);
    font-size: 2.6rem;
    text-align: center;
    padding-bottom: 13px;
}
.service .four p{
    line-height: 1.4;
    font-size: 1.9rem;
}
.service .four i{
    color: var(--main-color);
    font-size: 55px;
    font-weight: 800;
    padding: 20px ;
}
.service .four div:hover{
    transform: scale(1.1);
}

/* start projects */

.project{
    background-color: white;
    padding-block:5rem;
}
.project h1{
    font-size: 3.5rem;
    font-weight: 800;
   color: black;
    padding: 10px;
    margin-bottom: 1.5rem;
    text-align: center;
}
.project  h1 span{
    color: var(--main-color);
}

.project .pro{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));

    gap: 6rem;
  
}
@media (max-width:500px){

    .project .pro{
        display: grid;
        grid-template-columns: auto;
    }
    .service .four{
    
        display: grid;
        grid-template-columns: auto;
    
    
    }
}
.project .pro .A{
    background-color: white;
    margin-block: 1.5rem;
    transition: 0.7s ease;

    box-shadow: 0 5px 25px rgb(1 1 1 /20%);

}

.pro .A img{
    width: 100%;
    height: 200px;
}

.pro .A span{
    font-size: 14px;

}
.pro .A a{
    color: var(--main-color);
    
    font-size: 14px;



}
.pro .A .a{
    display: flex;
    padding: 15px;
    justify-content: space-between;
}

.pro .A:hover{
    transform: scale(1.1);
}

/* start Contact */

.contact{
    background: #f0f4f9;
    padding-block: 5rem;
}
.contact h1{
    text-align: center;
    font-size: 3.2rem;
    margin-bottom: 4rem;
}
.contact h1 span{
    color: var(--main-color);
}

.contact-icons{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
    margin-bottom: 40px;
    flex-wrap: wrap;
    
}
.contact-icons a{
    color: #333;
}
.i-green{
    color: green;
}
.i-blue{
    color: blue;
}
.contact form{
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contact form input{
    width: 48%;
    font-size: 18px;
    padding: 15px 10px;
    outline: none;
    border: 1px solid rgba(128, 112, 22, 0.3);
    margin-bottom: 20px;
    border-radius: 10px;
}
.contact form textarea{
    border: 1px solid rgba(128, 112, 22, 0.3);
    outline: none;
    border-radius: 10px;
    width: 100%;
    padding: 10px;
}
.contact form textarea:focus,
.contact form input:focus{
    border-color: var(--main-color);
}
.contact form .btn{
    margin: 40px auto 0;
    cursor: pointer;
    background-color: var(--main-color);
    padding: 1rem 1.5rem;
    color: white;
    border-radius: 10px;
}

@media (max-width:1200px){
    .contact form{
        width: 70%;
    }

}
@media (max-width:900px){
    .contact form{
        width: 80%;
    }

}
@media (max-width:670px){
    .contact form{
        width: 90%;
    }

}
@media(max-width:500px){
 
    .contact form{
        width: 90%;
        justify-content: center;

    }
    .contact form input{
        width: 100%;
    }
}

.footer{
    background-color: #333;
    display: flex;
    
    font-size: 1.7rem;
    justify-content: space-between;


}

.footer span{
    color: white;
}
.footer .b{
    color: var(--main-color);
}
.footer .icons a{
    color: white;
    padding-left: 1rem;
}

@media (max-width:500px){
    .footer{
        display: flex;
        justify-content: center;
        gap: 2rem;
        flex-wrap: wrap;
    }
}